
footer{
  background-color: #636;
  padding: 30px;
  box-sizing: border-box;
  border-top: 6px #636 solid;
  color: #fff;
}

footer a{
  color: #fff;
} 

footer ul{

}

footer ul li{

}

footer ul li:first-of-type{
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 18px;
}

@media only screen and (max-width : 1200px) {

}

@media only screen and (max-width : 992px) {

}

@media only screen and (max-width : 768px) {

}

@media only screen and (max-width : 480px) {

}

@media only screen and (max-width : 320px) {

}