<header>
  <div class="container">
    <a href="/home" class="logo"><img src="/assets/images/logo-white.png" alt="logo-header"></a>
    <ul id="nav">
      <li><a href="/home">Home</a></li>
      <li><a href="#info">Info</a></li>
      <li><a href="" class="ProjectToggle">Projects</a></li>
      <li><a href="#updates">Updates</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
    <div id="multi-language">
      <p class="active"><span class="nl"></span>NL</p>
      <ul>
        <li><span class="nl"></span>Nederlands</li>
        <li><span class="eng"></span>English</li>
      </ul>
    </div>
  </div>
</header>

<div class="dropdown Dropdown">
  <div class="container">
    <ul>
      <li><a href="/project">Temple Run</a></li>
      <li><a href="/project">Simon Says</a></li>
      <li><a href="/project">Piano</a></li>
      <li><a href="/project">Football</a></li>
      <li><a href="/projects">Overview</a></li>
    </ul>
  </div>
</div>