
#splash{
  height: calc(100vh - 90px);
  background-image: url("https://via.placeholder.com/1920x1080");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#splash .align{
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
}

#splash h1{
  font-size: 60px;
}

#splash h2{
  font-size: 45px;
}

#info{
  margin: 60px 0;
}

#projects{
  margin: 60px 0;
  padding: 60px 0;
  background-color: #f4f4f4;
}

#projects .preview img{
  height: 400px;
  width: 100%;
  object-fit: cover;
}

#projects .block{
  background-color: #fff;
  padding: 30px;
}

#projects h4{

}

#projects p{

}

#projects .btn{
  display: block;
}

#updates{
  margin: 60px 0;
}

#updates p{
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 2px solid #636;
}

#contact{
  padding: 60px 0;
  background-color: #f4f4f4;
}

#contact textarea{
  height: 225px;
}

#contact button{
  width: 100%;
  margin-top: -30px;
}

@media only screen and (max-width : 1200px) {

}

@media only screen and (max-width : 992px) {

}

@media only screen and (max-width : 768px) {

}

@media only screen and (max-width : 480px) {

}

@media only screen and (max-width : 320px) {

}