<app-header></app-header>
<main>
  <section id="splash">
    <div class="align">
      <h1>Vloerprojectie</h1>
      <h2>GestureTEK</h2>
    </div>
  </section>
  <section id="info">
    <div class="container">
      <div class="row">
        <div class="col s12">
          <h3>Wat is vloerprojectie?</h3>
        </div>
      </div>
      <div class="row">
        <div class="col s6">
          <h4>Waar kijk ik naar?</h4>
          De interactieve vloer projectie van GestureTEK tovert een saaie vloer om in een virtueel game oppervlakte. 
        </div>
        <div class="col s6">
          <h4>Hoe werkt het?</h4>
          Beweging wordt gedetecteerd met een infraroodcamera. De software zet de gedetecteerde beweging vervolgens om in een actie. De implementatie is per game anders en zal onder “projecten” worden toegelicht. 
        </div>
      </div>
    </div>
  </section>
  <section id="projects">
    <div class="container full">
      <div class="row">
        <div class="col s12">
          <h3>Projects</h3>
        </div>
      </div>
      <div class="row">
        <div class="col s3">
            <div class="preview">
              <img src="/assets/images/temple.png" alt="temple">
            </div>
            <div class="block">
              <h4>Temple</h4>
              <p>info</p>
              <a class="btn outline" href="/project">Details</a>
            </div>
        </div>
        <div class="col s3">
          <div class="preview">
            <img src="/assets/images/simon.jpg" alt="simon">
          </div>
          <div class="block">
            <h4>Simon</h4>
            <p>info</p>
            <a class="btn outline" href="/project">Details</a>
          </div>
        </div>
        <div class="col s3">
          <div class="preview">
            <img src="/assets/images/piano.jpg" alt="piano">
          </div>
          <div class="block">
            <h4>Piano</h4>
            <p>info</p>
            <a class="btn outline" href="/project">Details</a>
          </div>
        </div>
        <div class="col s3">
          <div class="preview">
            <img src="/assets/images/football.jpeg" alt="football">
          </div>
          <div class="block">
            <h4>Football</h4>
            <p>info</p>
            <a class="btn outline" href="/project">Details</a>
          </div>          
        </div>
      </div>
    </div>
  </section>
  <section id="updates">
    <div class="container">
      <div class="row">
        <div class="col s12">
          <h3>Updates</h3>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <ul>
            <li>
              <h4>Versie 0.4 Korte beschrijving</h4>
              <p>Lange beschrijving</p>
            </li>
            <li>
              <h4>Versie 0.3 Korte beschrijving</h4>
              <p>Lange beschrijving</p>
            </li>
            <li>
              <h4>Versie 0.2 Korte beschrijving</h4>
              <p>Lange beschrijving</p>
            </li>
            <li>
              <h4>Versie 0.1 Korte beschrijving</h4>
              <p>Lange beschrijving</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- <section class="paralax">
    <img src="https://via.placeholder.com/1920x1080" alt="alt">
  </section> -->
  <section id="contact">
    <div class="container">
      <div class="row">
        <div class="col s12">
          <h3>Contact</h3>
        </div>
      </div>
      <form class="row" autocomplete="off" name="form" (ngSubmit)="f.form.valid && submit()" #f="ngForm" novalidate>
        <div class="col s6">
          <div class="row">
            <div class="col s12 input-field">
              <input id="subject" type="text" [(ngModel)]="model.subject" name="subject">
              <label for="subject">Subject</label>
            </div>
          </div>
          <div class="row">
            <div class="col s12 input-field">
              <input id="name" type="text" [(ngModel)]="model.name" name="name">
              <label for="name">Name</label>
            </div>
          </div>
          <div class="row">
            <div class="col s12 input-field">
              <input type="email" id="email" name="email" [(ngModel)]="model.email" #email="ngModel" required/>
              <label for="email">Email</label>
            </div>
          </div>
        </div>
        <div class="col s6">
          <div class="row">
            <div class="col s12 input-field">
              <textarea type="textarea" class="materialize-textarea" id="message" name="message" [(ngModel)]="model.message" #message="ngModel" required>textarea</textarea>
              <label for="message">message</label>
            </div>
          </div>
          <button id="submit" class="btn full">Submit</button>
        </div>
      </form>
    </div>
  </section>
</main>
<app-footer></app-footer>